.card-header 
    .card-header__content
        span.card-header__title All Customers
        span.card-header__subtitle Active Members

    .card-header__search 
        include ../search-input/search-input.pug