aside.menu
    .menu__header 
        img.menu__icon(src="assets/images/setting.svg" alt="Logo")
        span.menu__title= title
        span.menu__subtitle=  "v." + version 

    .menu__nav
        include ../nav/nav.pug

    include ../user-info/user-info.pug
