@mixin typography($fontSize, $fontWeight: 400) {
  font-family: 'Poppins', sans-serif;
  font-size: $fontSize;
  line-height: normal;
  font-weight: $fontWeight;
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
