$primary: #5932ea;
$white: #ffffff;
$black: #000000;
$success: #008767;
$danger: #df0404;

$text-primary: $black;
$text-secondary: #9197b3;
$text-success: #16c098;

$background: #fafbff;

$duration: 0.3s;
