doctype html
html(lang="en")
    head
        title Dashboard customers
        link(rel="stylesheet", type="text/css" href="css/main.min.css") 
    body
        h1 This is text

        script(src="js/main.min.js")