extends ./layout.pug
block variables 
    - var title = "Dashboard"
    - var version = "01"

block content
    include customers/blocks/menu/menu.pug
    include customers/blocks/content/content.pug
